.map-container{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

.map-svg{
    height: 100%;
    width: 100%;
}

.mapContainer{
    height:100%;
    width:100%;
    position: relative;
}

path {
    stroke: 'black';
    stroke-width: .1px;
}
.zoomable{
    cursor: grab;
}

h2{
    display: float;
    width: 100%;
    height: auto;
    position: absolute;
}