.component-app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    background-color: 'blue';
}